.navbar{
    background-color: black;
    
}
body{
    background-image: url('./assets/bg.png');
    background-size: cover;
}
.line {
    width: 1px;
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 5px;
    height: 50%;
    border: 1px solid white;
  }